################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/completeMyntra-main/Nyntra/.vs/Nyntra/FileContentIndex
