################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/completeMyntra-main/Nyntra/.vs/Nyntra/FileContentIndex
/.vs/nithishhhhhhhhhhhhhhhhhhhhhhh/FileContentIndex/aaf19a95-547e-4d57-8725-5051407310a9.vsidx
/.vs/nithishhhhhhhhhhhhhhhhhhhhhhh/FileContentIndex/05e7e13b-2a29-4617-be03-60c757989f0b.vsidx
/.vs/nithishhhhhhhhhhhhhhhhhhhhhhh/FileContentIndex/e0510aac-0946-41f9-9982-d4e88cc93d38.vsidx
/.vs/nithishhhhhhhhhhhhhhhhhhhhhhh/FileContentIndex/d7df77bb-678e-4e82-81ea-018144930139.vsidx
