################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/completeMyntra-main/Nyntra/.vs/Nyntra/FileContentIndex
/.vs/nithishhhhhhhhhhhhhhhhhhhhhhh/FileContentIndex/aaf19a95-547e-4d57-8725-5051407310a9.vsidx
